.button {
  background: linear-gradient(356.23deg, #96cf03 -65.8%, #f1fff6 89%);
  border-radius: 6.88108px;
  @apply rounded-lg justify-center items-center flex px-5 py-3 w-fit z-10  cursor-pointer;
  &_icon {
    @apply ml-2 w-5 text-black;
  }
  &_text {
    @apply text-red-900 font-bold text-xs;
  }
}

.cbutton {
  background: linear-gradient(356.23deg, #96cf03 -65.8%, #f1fff6 89%);
  border-radius: 6.88108px;
  @apply rounded-lg justify-center items-center flex px-5 py-2 w-fit z-10  cursor-pointer;
  &_icon {
    @apply ml-2 w-5 text-black;
  }
  &_text {
    @apply text-red-900 font-bold text-sm tracking-wide;
  }
}
