.navbar {
  @apply absolute top-0 flex flex-col w-full py-8 px-6;
  width: 80vw;
  // background-color: #151515;
    background-color: #07030d;

  color: white;
  &_topsection {
    @apply flex justify-between flex-row w-full items-center mb-4;
    &_logocontainer {
      @apply font-black text-2xl;
    }
    &_routecontainer {
      @apply flex gap-8;
      color: #403d43;
      &_text {
        @apply text-sm font-bold;
      }
      &_text:hover {
        color: #fff;
      }
    }
    &_walletcontainer {
      &_connectbutton {
        @apply px-6 py-4 text-sm rounded-md font-bold cursor-pointer flex justify-center items-center;
        background-color: #161419;
        border: 0.5px solid #28272c;
        width: 200px;
      }
    }
  }
  &_bottomsection {
    @apply flex w-full gap-4 mt-8 justify-between h-24;
    &_card {
      @apply flex flex-row justify-between items-center p-4 w-full;
      border: 1px solid rgba(245, 245, 247, 0.2);
      // background-color: rgba(255, 255, 255, 0.05);
      background-color: #161419;
      border-radius: 8px;
      &_info {
        @apply flex flex-col;
        &_text {
          @apply text-xl font-bold mb-1;
        }
        &_subtext {
          @apply text-sm;
          color: rgba(255, 255, 255, 0.75);
        }
      }
      &_icon {
        img {
          height: 40px;
        }
      }
    }
    &_claimcard {
      @apply flex flex-row justify-between items-center p-4 w-full;
      // width: 250px;
      border: 1px solid rgba(245, 245, 247, 0.2);
      // background-color: rgba(255, 255, 255, 0.05);
            background-color: #161419;

      border-radius: 8px;
      &_info {
        @apply flex flex-col;
        &_text {
          @apply text-xl font-bold mb-1;
        }
        &_subtext {
          @apply text-sm;
          color: rgba(255, 255, 255, 0.75);
        }
      }
      &_icon {
        img {
          height: 40px;
        }
      }
    }
    &_notecontainer {
      @apply flex flex-col rounded-lg p-4 gap-2 w-full;
      border: 1px solid #343434;
      background: rgba(241, 197, 84, 0.12);
      &_title {
        @apply text-xl font-semibold flex items-center;
        color: #F1C554;
        span{
            @apply ml-2;
        }
      }
      &_subtitle {
        @apply text-ellipsis font-medium overflow-hidden;
      }
    }
  }
}
