.navbar{
    @apply absolute left-0 top-0 flex flex-col w-full py-8 px-48;
    background-color: #000000;
    color: white;
    &_topsection{
        @apply flex justify-between flex-row w-full items-center mb-4;
        &_logocontainer{
            img{
                width: 200px;
            }
        }
        &_routecontainer{
            @apply flex gap-8;
            color: #403d43;
            &_text{
                @apply text-sm font-bold;
            }
            &_text:hover{
                color: #fff;
            }

        }
        &_walletcontainer{
            &_connectbutton{
                @apply px-6 py-4 text-sm rounded-md font-bold cursor-pointer flex justify-center items-center;
                background-color: #403d43;
                width: 200px;
            }
        }
    }
    &_bottomsection{
        @apply flex w-full gap-4 mt-8 justify-between;
        &_card{
            @apply flex flex-row justify-between items-center p-4;
            width: 250px;
            border: 1px solid rgba(245, 245, 247, 0.2);
            background-color: rgba(255, 255, 255, 0.05);
            border-radius: 8px;
            &_info{
                @apply flex flex-col;
                &_text{
                    @apply text-xl font-bold mb-1;
                }
                &_subtext{
                    @apply text-sm;
                    color: rgba(255, 255, 255, 0.75);
                }
            }
            &_icon{
                img{
                    height: 40px;
                }
            }
        }
    }
}